.main{
  background-image: linear-gradient(#84cdf8, #53a7eb , #d0e9f7);
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mini-main{
  border-style:solid;
  border-radius:8px;
  border-width:1px;
  border-color:#fff;
  background-color: #53a7eb;
  color:#000;
  height:360px;
  width:400px;
  padding:20px;
  box-shadow: 0 0 500px 20px #6b6a6a;
  box-sizing: border-box;
}
label{
  font-size:20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#000
}
.lab{
  font-size:20px;
  font-family:cursive;
  color:#000
}
input{
  background-color: transparent;
  outline: none;
  border-style: solid;
  border-color:transparent transparent #fff transparent ;
  border-width:1px;
  color: #fff;
  width:100%;
  height:28px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
button{
  background-color: transparent;
  outline: none;
  border-color:#fff transparent #fff transparent ;
  border-width: 1px;
  height:30px;
  min-width:60px;
  color:#000;
  border-style: solid;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin:12px;
  cursor:pointer;
}
.home-main{
  /* background-color: #fff; */
  background-image: linear-gradient(#84cdf8, #97c7ee , #d0e9f7);
  height:100vh;
  width:100vw;
  padding:0 20px 20px 20px;
  box-sizing: border-box;
  overflow: scroll;
}
.home-main::-webkit-scrollbar {
  display: none;
}
.navbar{
  border-color:#fff;
  border-width: 1px;
  height:60px;
  width:100%;;
  color: #fff;
  border-style: solid;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  /* background-color:linear-gradient( #a7d7d7,#dbb6d0,#aed1d5)   ; */
  font-size: 16px;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: space-between;
  margin:20px 0px 32px 0px;
}
.home-button{
  border-color:transparent;
  color:#fff;
  cursor:pointer;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 618px) {
  .navbar button:not(:first-child) {display: none;}
  .navbar button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: -webkit-sticky;
    position: sticky;
    top: 0;}
  .navbar.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .navbar.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
}
h1{
  color:#fff;
  font-size: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  color:#fff;
  font-size: 26px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home-search{
  margin-top:12px;
}
.book-main{
  /* background-color:black; */
  background-image: linear-gradient(#a9d5f0, #6dbaf9 , #30adf5);
  height:100vh;
  width:100vw;
  padding:20px;
  box-sizing: border-box;
  overflow: hidden;
}
.book-mini{
  border-color:#fff;
  border-style: solid;
  border-width: 1px;
  border-radius:12px;

  /*color: #fff;
  border-style: solid; */
  height:100%;
  width:100%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li{
   list-style-type: circle;
   color:transparent;
}
.book-mini-mini1{
  height:100%;
  width:726px;
  border-width: 1px;
  border-color:#fff ;
  /* color: #fff;*/
  border-style: solid; 

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  padding: 30px 12px 30px 12px;
}
.book-mini-mini2{
  height:100%;
  width:100%;
  /* border-width: 1px; */
  /* border-color:#fff; */
  /* color: #fff;
  border-style: solid; */
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  /* padding: 30px 12px 30px 12px; */
}
.book-order{
  margin-left: auto;
  margin-right:auto;
  height:100%;
  width:100%;
  color: #fff;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  padding: 40px;
}
p{
  font-family:cursive;
  font-size: 20px;
  color:#000;
}
.book-input{
  border-color: #fff;
  margin:12px 0px 12px 4px;
}
.flex{
  /* margin:6px 0px 6px 0px; */
  display: flex;
  justify-content: space-between;
}
.center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.payment-main{
  min-height:100vh;
  width:100vw;
  /* background-color:black; */
  background-image: linear-gradient(#84cdf8, #53a7eb , #d0e9f7);
  color: #fff;
  box-sizing: border-box;
}
.payment-mini-main{
  width: 500px;
  min-height:92vh;
  border-style:solid;
  border-width:1px;
  border-color:#ea1d1d;
  padding:28px;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.payment-input{
  border-color:#fff;
  max-width:80%;
  background-color: black;
  overflow: hidden;
  margin:12px;
  background-color: #fff;
  color: black;
  border-radius: 12px;
  padding: 0px 18px 0px 18px;
  box-sizing: border-box;
}
.payment-head{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  /* font-weight: 500; */
}
.about-main{
  background-image: linear-gradient(#84cdf8, #53a7eb , #d0e9f7, #db8c8c);
  height:210vh;
  width:100vw;
  padding:40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.about-mini-main{
  width:85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-display{
  width:100%;
  display:flex;
  justify-content: space-between;
  padding:30px;
}
.about-details{
  height:240px;
  width:300px;
  margin: 12px;
  text-align: center;
  padding-top:12px;
  box-sizing: border-box;
}
.about-all{
  border-radius: 200px;
  border: #fff;
  border-style: solid;
  height:200px;
  width:200px;
  margin: 12px;
}
.about-pic1{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('./images/azmatulla.jpg');
  background-size: cover;
  border-radius: 120px;
}
.about-pic2{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('./images/santhosh.jpg');
  background-size: cover;
  border-radius: 120px;
}
.about-pic3{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('./images/balaji.jpg');
  background-size: cover;
  border-radius: 120px;
}
a{
  font-family:cursive;
  font-size: 20px;
  color:#000;
  text-decoration: none ;
}
.about-groupLogo{
  height:300px;
  width:300px;
  border-radius: 300px;
  background-image: url('./images/about-logo.png');
  background-size: cover;
  border-color: #fff;
  border-style: solid;
  margin:12px 0px 34px 0px;
}
.state-main{
  height: 380px;
  width: 100%;
  /* border-style: solid;
  border-color: #fff;  */
  display: block;
  box-sizing: border-box;
}
.state-mini-main{
  height:300px;
  width:100%;
  /* border-style: solid;
  border-color: #fff; */
  box-sizing: border-box;
  padding:8px;
  margin:12px 10px 10px 10px;
  box-sizing: border-box;
  display: flex;
}
.state-mini{
  height:280px;
  width:210vw;
  /* border-style: solid;
  border-color: #fff; */
  box-sizing: border-box;
  padding:4px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.4s ease-in-out;
}
.state-mini::-webkit-scrollbar {
  display: none;
}
.image{
  height:222px;
  width:226px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin:auto 12px auto 12px; 
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.image-back{
  height:222px;
  width:226px;
  border-radius: 12px;
  margin:auto 12px auto 12px;
}

.image:hover{
  border-color: #fff;
  border-style: solid;
  border-width:3px ;
  margin:-12px 12px auto -5px;
  height:260px;
  width:290px;
}

.nav-btn {
  color: #fff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color:transparent;
  border-radius: 6px;
  height: 94%;
  width:50px;
  /* border-style: solid;
  border-color: #fff; */
}
.image-c{
  height:500px;
  max-width: 550px;
}
.carousel-main{
  height: 700px;
  width: 100%;
  /* border-style: solid;
  border-color: #fff;  */
  box-sizing: border-box;
  margin:0px 0px 50px 0px;
  display: block;
}
.carousel-mini-main{
  height:680px;
  width:99%;
  /* border-style: solid;
  border-color: #fff; */
  box-sizing: border-box;
  padding:8px;
  margin:12px 10px 10px 10px;
  box-sizing: border-box;
  display: flex;
}
.carousel-mini{
  height:640px;
  width:100%;
  /* border-style: solid;
  border-color: #fff; */
  box-sizing: border-box;
  padding:4px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.4s ease-in-out;
}
.carousel-mini::-webkit-scrollbar {
  display: none;
}
.carousel-image{
  height:600px;
  width:60vw;
  margin: 6px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  border-radius:12px ;
}
.help-main{
  /* background-color:black; */
  background-image: linear-gradient(#fc987c, #ccbfd1 ,#93e3d9 );
  height:100vh;
  width:90vw;
  padding:0 20px 20px 20px;
  box-sizing: border-box;
  overflow: scroll;
}
.hotel-main{
  background-image: linear-gradient(#fc987c, #ccbfd1 ,#93e3d9 );
  height: 100vh;
  width: 100vw;
  padding-left: 100px;
  box-sizing: border-box;
  
  border-color: #000;
  border-style: solid;
}
.hotel-mini{
  height:280px;
  width:92vw;
  /* border-style: solid;
  border-color: #fff; */
  box-sizing: border-box;
  padding:4px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.4s ease-in-out;
  margin:16px
}
.hotel-mini::-webkit-scrollbar {
  display: none;
}
.hotel-image{
  height:210px;
  width:226px;
  border-radius: 12px;
  margin:auto 12px auto 12px; 
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.hidden-desc{
  background-color: #fff;
  border-radius: 6px;
  height:260px;
  width:290px;
  border-radius: 12px;
  margin:auto 12px auto 12px;
  display: none;
  text-align: center;
  animation: hidden-desc-animation 0.5s;
}
.show-desc{
  display: flex;
}
@keyframes hidden-desc-animation {
  from{opacity: 0;}
  to{opacity: 1;}
}
.hotel-nav-btn {
  color: #fff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color:transparent;
  border-radius: 6px;
  height: 280px;
  width:50px;
  /* border-style: solid;
  border-color: #fff; */
}
.hotel-image:hover{
  ~.hidden-desc {
    display: block;
    margin:0px 12px auto 12px;
  }
  border-color: #fff;
  border-style: solid;
  border-width:3px ;
  margin:0px 12px auto 0px;
  height:260px;
  width:290px;
}
.hotel-side{
  height:80px;
  width:90%;
  /* border-style: solid;
  border-color: #000;
  border-width: 2px; */
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: relative;
  top:-40px;
  outline:none;
}
.profile-main{
  background-image: linear-gradient(#84cdf8, #97c7ee , #d0e9f7);
  height: 100vh;
  width: 100vw;
  padding:50px;
  box-sizing: border-box;
  display: flex;
}
.user-profile{
  height:700px;
  width:600px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  padding:50px;
  box-sizing: border-box;
  margin-right:20px
}
.flex-p{
  display: flex;
}
.bookings{
  height:700px;
  width:600px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding:10px;
  box-sizing: border-box;
  margin-right:20px
}